<router-outlet></router-outlet>
<footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Attendy</h5>
          <p class="grey-text text-lighten-4">Attendy is used to monitor your meetings. It is a meeting attendance system, to see who attended a certain meeting, ect.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">DFA Website</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">DFA Intranet</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Log a Ticket</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2020 Copyright. Developed by Siphelele Dumisa, DFA Junior Developer.
      </div>
    </div>
  </footer>
